
<body data-home-page="Page-1.html" data-home-page-title="Page 1" class="u-body u-xl-mode"><header class="u-clearfix u-custom-color-4 u-header u-sticky u-header" id="sec-3f76"><div class="u-clearfix u-sheet u-sheet-1">
      <nav class="u-align-right u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1.25rem; letter-spacing: 0px; font-weight: 700;">
          <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link" href="#">
            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0b31"></use></svg>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-0b31" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-custom-font u-nav u-spacing-10 u-text-font u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" routerLink="" style="padding: 22px 14px;">Home</a>
</li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" routerLink="/about"  style="padding: 22px 14px;">About</a>
</li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" routerLink="/services" style="padding: 22px 14px;">Services</a>
</li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" routerLink="/skills"  style="padding: 22px 14px;">Skills</a>
</li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-text-white" routerLink="/contact" style="padding: 22px 14px;">Contact</a>
</li></ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-inner-container-layout u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Page-1.html" style="padding: 22px 14px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link"  routerLink="/about" style="padding: 22px 14px;">About</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link"  routerLink="/services"  style="padding: 22px 14px;">Services</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link"  routerLink="/skills"  style="padding: 22px 14px;">Skills</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link"  routerLink="/contact"  style="padding: 22px 14px;">Contact</a>
</li></ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
      <h2 class="u-custom-font u-font-roboto-slab u-text u-text-default u-text-1">Portfolio.</h2>
    </div></header>
  <section class="-lg -sm -xl -xs u-align-center u-clearfix u-gradient u-section-1" src="" id="carousel_db24">
    
    <router-outlet></router-outlet>
  </section>
  
  
  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-a789"><div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">Fiseha Gebremedhn 2022 </p>
    </div></footer>
  <section class="u-backlink u-clearfix u-grey-80">
    
      <span>Personal  Website </span>
   
  
      <span>created by </span>
   
    
      <span>Fiseha</span>
   
  </section>
</body>
